@model IDGS903_Tema1.Models.Distancia

@{
    ViewBag.Title = "Resultado";
}

<h2>Resultado</h2>

<div class="col-lg-6">
    <h1 class="text-danger">El resultado es: @Html.DisplayFor(model=> model.Resultado)</h1>
</div>

